{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center" mt-5>this is <em>about</em> page</h1>
            </div>
        </div>
    </div>
{{end}}
